
@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');
/*  #8edce6 - non-photo blue
#d5dcf9 -  lavender
#a7b0ca  - powder blue
#725e54 - Umber
#443627 - Taupe 
*/
.txt-taupe {
    color: #443627;
}
.txt-umber {
    color: #725e54;
}
.txt-powederblue {
    color: #a7b0ca;
}
.txt-lavendar {
    color: #d5dcf9;
}
.txt-nonphotoblue {
    color: #8edce6;
}

body {
    background-color: #443627;
}

h1 {
    color: #a7b0ca;
    font-family: 'Josefin Slab';
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
}
.font-banner {
    font-family: 'Economica';
    font-size: 65px;
    font-weight: 700;
    font-style: italic;
}
p {
    font-family: "Roboto Slab";
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    color: #d5dcf9;
}

.wrap-banner-panel {
    width: 70%;
    background-color: #a7b0ca;
    position: absolute;
    left: 15%;
    top: 8%;
    text-align: center;
    border-radius: 1em;
    padding: 0.5em 0;
}
.banner {
    width: 97%;
    background-color: #725e54;
    min-height: 97%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 2em 0;
    position: relative;
   
}

.btext {
    padding: 0.25em 0;
    font-size: 50px;
}
.wrap-flag-panel {
    width: 70%;
    background-color: #a7b0ca;
    position: absolute;
    left: 15%;
    top: 37%;
    text-align: center;
    border-radius: 1em;
    padding: 0.5em 0;
}
.flagpanel {
    width: 97%;
    background-color: #725e54;
    min-height: 97%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 2em 0;
    position: relative;
   
}

 
.ans-panel {
    width: 75%;
    background-color: #725e54;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 2em 0;
    position: relative;
    top: 100px;
    
}
.ans-text {
      font-size: 25px;
      font-family: "Roboto Slab";
      font-weight: 300;
      font-style: normal;
      color: #d5dcf9;
 }


.score-panel {
    width: 70%;
    background-color: #a7b0ca;
    position: absolute;
    left: 15%;
    top: 63%;
    text-align: center;
    border-radius: 1em;
    padding: 0.5em 0;
    
}

.score-text {
    font-family: "Roboto Slab";
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
   
}
/* Copyright panel and text styles  */
.wrap-copyr-panel {
    width: 70%;
    background-color: #a7b0ca;
    position: absolute;
    left: 15%;
    top: 66%;
    text-align: center;
    border-radius: 1em;
    padding: 0.5em 0;
    
}
.copyr-panel {
    width: 97%;
    background-color: #725e54;
    min-height: 97%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 2em 0;
    position: relative;
    
}

.copyr-text {
   position: absolute;
   bottom: 8px;
   left: 16px;
   font-size: 18px
    
}
/* how to play formatting styles  */


.htp-text-heading {
    text-align: left;
    font-family: 'Economica';
    font-size: 45px;
    font-weight: 700;
    font-style: italic;
}

.htp-text-para {
    text-align: left;
    padding-left: 5%;
    font-size: 25px;
    font-family: "Roboto Slab";
    font-weight: 300;
    font-style: normal;
    
}
.htp-wrap-copyr-panel {
    width: 70%;
    background-color: #a7b0ca;
    position: absolute;
    left: 15%;
    top: 79%;
    text-align: center;
    border-radius: 1em;
    padding: 0.5em 0;
}
