
@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');


/*  #8edce6 - non-photo blue
#d5dcf9 -  lavender
#a7b0ca  - powder blue
#725e54 - Umber
#443627 - Taupe 
*/

.txt-taupe {
    color: #443627;
}
.txt-umber {
    color: #725e54;
}
.txt-powederblue {
    color: #a7b0ca;
}
.txt-lavendar {
    color: #d5dcf9;
}
.txt-nonphotoblue {
    color: #8edce6;
}

body {
    background-color: #443627;
}

h1 {
    color: #a7b0ca;
    font-family: 'Josefin Slab';
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
}
.font-banner {
    font-family: 'Economica';
    font-size: 65px;
    font-weight: 700;
    font-style: italic;
}
p {
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    color: #d5dcf9;
}

.banner {
    width: 75%;
    background-color: #725e54;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    position: relative;
    top: 50px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.btext {
    padding: 0.25em 0;
    font-size: 50px;
}

.flagpanel {
    width: 75%;
    background-color: #725e54;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 2em 0;
    position: relative;
    top: 70px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

 
.ans-panel {
    width: 75%;
    background-color: #725e54;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 2em 0;
    position: relative;
    top: 100px;
}
.ans-text {
      font-size: 25px;
      font-family: "Roboto Slab";
      font-weight: 300;
      font-style: normal;
      color: #d5dcf9;
 }


.score-panel {
    width: 75%;
    background-color: #725e54;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 2em 0;
    position: relative;
    top: 140px;
}

.score-text {
    font-family: "Roboto Slab";
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
   
}