@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

/*  #8edce6 - non-photo blue
#d5dcf9 -  lavender
#a7b0ca  - powder blue
#725e54 - Umber
#443627 - Taupe 
*/
.txt-taupe {
    color: #443627;
}

.txt-umber {
    color: #725e54;
}

.txt-powederblue {
    color: #a7b0ca;
}

.txt-lavendar {
    color: #d5dcf9;
}

.txt-nonphotoblue {
    color: #8edce6;
}


/* styles for Jquery  */
.red_button {
    background: red;
}

.grren_button {
    background: green;
}

body {
    background-color: #443627;
}

p {
    font-family: "Roboto Slab";
    font-size: 1em;
    font-weight: 300;
    font-style: normal;
    color: #d5dcf9;
}

/* target image in footer*/
div footer img {
    max-width: 7%;
    height: auto;

}


/* stf formatting and styles  */
.stf-head {
    font-family: 'Economica';
    font-size: 2em;
    font-weight: 700;
    font-style: normal;
}

.stf-sub-head {
    font-family: 'Josefin Slab';
    font-size: 1.5em;
    font-weight: 400;
    font-style: normal;
}

.stf-modal-format {
    text-align: center;
    font-family: 'Josefin Slab';
    font-size: 1.5em;
    font-weight: 400;
    font-style: normal;
}

.stf-wrap-banner-panel {
    top: 10%;
    width: 70%;
    background-color: #a7b0ca;
    position: absolute;
    left: 15%;
    text-align: center;
    border-radius: 1em;
    padding: 0.5em 0;
}

.stf-banner {
    width: 97%;
    background-color: #725e54;
    min-height: 97%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 1em 0;
    position: relative;

}

.stf-flagpanel {
    width: 97%;
    background-color: #725e54;
    min-height: 97%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 1em 0;
    position: relative;

}

.stf-copyr-panel {
    width: 97%;
    background-color: #725e54;
    min-height: 97%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 1em 0;
    position: relative;

}

.stf-copyr-text {
    position: absolute;
    bottom: 0;
    left: 2.5em;
    font-size: 0.5em
}

/* index panel and text styles  */
.ind-head {
    font-family: 'Economica';
    font-size: 2em;
    font-weight: 700;
    font-style: normal;
}

.ind-sub-head {
    font-family: 'Josefin Slab';
    font-size: 1.5em;
    font-weight: 400;
    font-style: normal;
}

.ind-wrap-banner-panel {
    top: 10%;
    width: 70%;
    background-color: #a7b0ca;
    position: absolute;
    left: 15%;
    text-align: center;
    border-radius: 1em;
    padding: 0.5em 0;
}

.ind-banner {
    width: 97%;
    background-color: #725e54;
    min-height: 98%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 1em 0;
    position: relative;

}

.ind-flagpanel {
    width: 97%;
    background-color: #725e54;
    min-height: 98%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 1em 0;
    position: relative;

}

.ind-copyr-panel {
    width: 97%;
    background-color: #725e54;
    min-height: 98%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 1em 0;
    position: relative;

}

.ind-copyr-text {
    position: absolute;
    bottom: 0;
    left: 2.5em;
    font-size: 0.5em
}

hr.ind-hr-format {
    border-top: 5px solid #a7b0ca;
    margin: 0 auto;
    width: 97%;
}

/* ==============how to play formatting styles ================ */
.htp-head {
    font-family: 'Economica';
    font-size: 2em;
    font-weight: 700;
    font-style: normal;
}

.htp-wrap-banner-panel {
    top: 10%;
    width: 70%;
    background-color: #a7b0ca;
    position: absolute;
    left: 15%;
    text-align: center;
    border-radius: 1em;
    padding: 0.5em 0;
}

.htp-banner {
    width: 97%;
    background-color: #725e54;
    min-height: 98%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 1em 0;
    position: relative;
}

.htp-text-heading {
    text-align: left;
    font-family: 'Economica';
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
}

.htp-text-para {
    text-align: left;
    padding-left: 5%;
    font-size: 1em;
    font-family: "Roboto Slab";
    font-weight: 300;
    font-style: normal;
}

.htp-wrap-copyr-panel {
    top: 79%;
    width: 70%;
    background-color: #a7b0ca;
    position: absolute;
    left: 15%;
    text-align: center;
    border-radius: 1em;
    padding: 0.5em 0;
}

.htp-copyr-panel {
    width: 97%;
    background-color: #725e54;
    min-height: 97%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 1em 0;
    position: relative;
}

.htp-copyr-text {
    position: absolute;
    bottom: 0;
    left: 2.5em;
    font-size: 0.8em
}

/* ==============gamepage  formatting styles===========  */

.game-head {
    font-family: 'Economica';
    font-size: 1.5em;
    font-weight: 700;
    font-style: normal;
}

.game-nav-head {
    font-family: 'Josefin Slab';
    font-size: 1.0em;
    font-weight: 400;
    font-style: normal;
}
.game-sub-head {
    font-family: 'Josefin Slab';
    font-size: 1.5em;
    font-weight: 400;
    font-style: normal;
}

.game-wrap-banner-panel {
    top: 11%;
    width: 70%;
    background-color: #a7b0ca;
    position: absolute;
    left: 15%;
    text-align: center;
    border-radius: 1em;
    padding: 0.5em 0;
}

.game-banner {
    width: 97%;
    background-color: #725e54;
    min-height: 97%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 0.25em 0;
    position: relative;

}

.game-flag-panel {
    width: 97%;
    background-color: #725e54;
    min-height: 97%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 1em 0;
    position: relative;
}

.game-ans-panel {
    width: 97%;
    background-color: #725e54;
    min-height: 97%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 1em 0;
    position: relative;

}

.game-ans-text {
    display: grid;
    font-size: 1em;
    font-family: "Roboto Slab";
    font-weight: 300;
    font-style: normal;
    color: #d5dcf9;
}

.game-score-panel {
    width: 97%;
    background-color: #725e54;
    min-height: 98%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 1em 0;
    position: relative;

}

.game-score-text {
    font-family: "Roboto Slab";
    font-size: 1em;
    font-weight: 700;
    font-style: bold;
}

.game-copyr-panel {
    width: 97%;
    background-color: #725e54;
    min-height: 97%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    padding: 1em 0;
    position: relative;
}

.game-copyr-text {
    position: absolute;
    bottom: 0;
    left: 2.5em;
    font-size: 0.8em
}